* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: work sans;
}

html,
body {
  height: 100%;
  width: 100vw;
}

#main {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #f9f9f9;
  padding-top: 0.1px;
}

#nav {
  height: 13vh;
  width: 100%;
  margin-top: 50px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav h1 {
  height: 100%;
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Monument;
  font-size: 35px;
  letter-spacing: -1px;
}

#nav h2 {
  height: 100%;
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
  font-size: 30px;
}

#nav h2 {
  font-size: 22px;
  font-weight: 600;
}
#nav h2:nth-last-child(1) {
  width: 10%;
}

#center {
  height: 90%;
  width: 100%;
  padding: 4vw;
}

#content {
  height: 100%;
  width: 100%;
  background-color: blue;
}

#content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

#overlay {
  height: 40%;
  width: 92%;

  position: absolute;
  bottom: 0;
  padding: 3.6vw;
  color: #f9f9f9;
}

#over1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3vw;
}
#over2 {
  font-size: 2.5vw;
  padding: 2vw;
  padding: 1vw 0;
}
#over1 h1 {
  font-family: monument;
  font-size: 3vw;
  font-weight: 100;
}
#over2 {
  width: 100%;
  height: 100%;
  display: flex;

  justify-content: space-between;
  border-top: 2px solid white;
}

#over2 h4 {
  font-size: 2vw;
  font-weight: 500;
}
#over2 img {
  height: 4vw;
}

#zero {
  border: 1px solid rgb(233, 233, 233);
  padding: 12px;
  border-right: 2px solid;
  box-shadow: 0 0 4px;
}

#scroll {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4vw;
  overflow: scroll;
  white-space: nowrap;
  overflow: hidden;
}
#scroll img {
  height: 92%;
  border-radius: 28%;
  box-shadow: 0 0 5px 2px #282a2d;
  object-fit: cover;
  width: 25%;
  line-height: 1.4;
  animation: roll 90s linear infinite;
}

@keyframes roll {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-1692px, 0, 0);
  }
}

#alphabet {
  display: flex;
  height: 10vh;
  margin-top: 5vw;
  width: 100%;
  gap: 3vw;
  align-items: center;
  justify-content: center;
  border-top: 1.5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  border-bottom: 1.5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
}

#alphabet h5 {
  font-size: 2vw;
  font-weight: 500;
  border-bottom: 2px solid #000;
  font-style: italic;
}

#alphabet h6 {
  font-size: 1vw;
  font-weight: 500;
  font-style: italic;
  border-radius: 50%;
  padding: 0.3vw 0.5vw;
  color: black;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
}

#alphabet h6:hover {
  border: 2px solid rgba(0, 0, 0, 0.342);
  color: transparent;
  transition: 500ms ease;
}

#alphabet h5:hover {
  color: transparent;
  transition: 500ms ease;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
}

#page {
  height: 133%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5vw;
}

#page1 {
  height: 100%;
  width: 70%;
  background-size: cover;
}
#page1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#page2 {
  height: 70%;
  width: 30%;
}

#page2 img {
  object-fit: cover;
  height: 57%;
  width: 56%;
  padding-left: 18vw;
  object-position: top;
  margin: -5vw;
  position: absolute;
  box-shadow: 10px 0 5px -3px #888;
}

#pagetextmain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#pagetextmain h3 {
  margin-top: 40vw;
  font-size: 2vw;
  box-shadow: -9px 0px 0px -7px #aaa;
  padding-left: 1.5vw;
}

#page h6 {
  margin-top: 42vw;
  font-size: 2vw;
  padding-left: 3vw;
  border: 1px solid black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  clip-path: inset(0px -15px 0px 0px);
}

#thirdrow {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 4vw;
}

#leftrow1 {
  height: 20%;
  width: 20%;
  position: absolute;
  top: 1px;
  font-size: 2vw;
  margin-top: 3vw;
  font-weight: 1000;
}

#leftrow2 {
  background-color: #0a0a0afb;
  height: 40vh;
  width: 50vh;
  margin-top: 1vw;
}

#leftrow2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: -21px 0 27px 5px #888;
}
#leftrow2 img {
  transition: 1s ease;
}
#leftrow2 img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}
#leftrow3 {
  height: 15%;
  width: 33%;
  position: absolute;
  bottom: 1vw;
}
#leftrow3 h3 {
  font-size: 1.5vw;
  font-weight: 600;
}
#rightrow {
  height: 80vh;
  width: 90vh;
  margin-right: 2vw;
}

#rightrow img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 12px 0 9px 5px #888;
}

#rightrow img img {
  transition: 1s ease;
}

#rightrow img:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
}
#fifthrow {
  height: 100vh;
  width: 100vw;
  padding: 5vw;
}

#fifthrow img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#fifthrow img {
  transition: 0.5s ease;
}

#fifthrow img:hover {
  box-shadow: 0 60px 80px rgba(0, 0, 0, 0.6), 0 45px 26px rgba(0, 0, 0, 0.14);
  transition: 0.5s ease;
}

#mainpage6 {
  height: 100vh;
  width: 100vw;
  padding: 5vw 12vw;
}

#mainpage6 h1 {
  font-size: 4vw;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3vw;
}

.elem {
  height: 13vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid black;
  padding: 0 2vw;
  position: relative;
}

.elem h4 {
  font-size: 1.3vw;
  width: 6.5%;
  text-transform: uppercase;
  font-weight: 550;
}
.elempart2 {
  width: 50%;
}

.elempart2 h2 {
  font-size: 2vw;
  font-weight: 500;
  text-transform: uppercase;
}

.elem:nth-last-child(1) {
  border-bottom: 2px solid black;
}

.elem img {
  height: 6vw;
  width: 6vw;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  left: 15%;
  opacity: 0;
  transition: all ease 1s;
}
.elem:hover img {
  opacity: 80%;
  left: 35%;
}

#sixrow {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

#sixleft {
  display: flex;
  justify-content: center;
  width: 49%;
}

#sixleft img {
  width: 60vh;
  height: 30vw;

  object-fit: cover;
}

#sixright {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#sixtop {
  font-size: 3.1vw;
  font-weight: 700;
  padding-top: 3vw;
}

#sixmiddle {
  width: 50%;
  height: 60%;
}
#sixmiddle2 {
  height: 20vh;
  font-size: 1.3vw;
  padding-right: 2vw;
  padding-top: 3vh;
}

#sixbootom {
  display: flex;
  gap: 2vw;
}

#sixbootom img {
  width: 18vw;
  height: 31vh;
  object-fit: cover;
  object-position: top;
}

#seventhrow {
  height: 100%;
  width: 100%;
  margin-top: 2vh;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#seventhrow img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#eightrow {
  height: 100%;
  width: 100%;
  display: flex;
  margin-top: 3vw;
  position: relative;
  padding: 1vw;
}

#eightrow1 {
  height: 100%;
  width: 100%;
}

#eightrow1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#eightrow2 img {
  height: 50vh;
  width: 48vw;
  object-fit: cover;
  padding-left: 2vw;
  object-position: top;
}

#eightrow3 {
  display: flex;
}

#eightrow3 p {
  width: 84%;
  font-weight: 500;
  padding: 2vw;
  height: 100%;
}
.eightrowtext2 {
  font-size: 0.9vw;
  font-weight: 200;
}
.eightrowtext {
  font-size: 1vw;
}

#eightrowimg {
  height: 50%;
  width: 50%;
}

#ninethrow {
  width: 100%;
  display: flex;
  border: 2px solid black;
}
#ninethrow h1 {
  display: inline-block;
  font-weight: 900;
  -webkit-text-stroke: 2px black;
  color: transparent;
  background-color: yellow;
}

footer {
  height: 100%;
  width: 100%;
}
